<header class="py-3 mb-4 border-bottom">
  <div
    class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between"
  >
    <a
      class="navbar-brand d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
    >
      Unknotes
    </a>

    <div class="col-md-3 text-end">
      <!-- LOGIN -->
      <button
        *ngIf="!(authService.authState$ | async)?.isAuthenticated"
        (click)="oktaAuth.signInWithRedirect()"
        class="btn btn-primary"
      >
        Login
      </button>

      <!-- LOGOUT -->
      <button
        *ngIf="(authService.authState$ | async)?.isAuthenticated"
        (click)="oktaAuth.signOut()"
        class="btn btn-outline-primary"
      >
        Logout
      </button>
    </div>
  </div>
</header>

<main class="container d-flex justify-content-center align-items-center">
  <div class="px-4 py-5 text-center border shadow">
    <h1 class="display-5 fw-bold">Unknotes</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cum hic
        quis vero a reiciendis ipsum dolore, esse dignissimos sed officiis
        alias. Aspernatur obcaecati, similique earum deleniti molestias aperiam
        placeat.
      </p>
    </div>
  </div>
</main>
